@import "variables";
@import "mixins";

.btn{
    width: 100%;
    line-height: 42px;
    font-size: $font-size-default;
    @include border-radius(4px);
    border: 1px solid $blue;
    margin-top: 20px;
    color: white;
    background-color: $blue;

    &:hover, &:focus{
    	background-color: darken($blue, 15%);
    	outline: none;
    	@include transition(0.5s);
    	cursor: pointer;
    }
}