@import "variables";
@import "mixins";


.form-container{
    padding: 40px 0 0;
    position: relative;

    label{
        display: block;
        color: $green;
        @include transition(0.5s);
            
        &.email{
            position: absolute;
            top: 0px;
            left: 50px;
            z-index: -2;
            opacity:0;
            @include transition(0.5s);
        }
    }

    input{
        width: 80%;
        height: 30px;
        border: 1px solid $green;
        display: block;
        margin: 0 auto;
        outline: none;      

        &:focus{
            @include transition(0.5s);
            border: 1px solid darken($green, 20%);            
        }

        &.email-form{

            &:focus~label.email{
                top: 15px;
                z-index: 1;
                opacity:1;
                @include transition(0.5s);
            }
        }
    }
}