//The file for future mixins


//Transition mixin
@mixin transition($duration) {
    -moz-transition:    $duration;
    -o-transition:      $duration;
    -webkit-transition: $duration;
    transition:         $duration;
}

//Border radius mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}