html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: "Arial", "Helvetica neue", "times new roman";
}

.bg {
  background: red;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#42cbad, #277fb9);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#42cbad, #277fb9);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#42cbad, #277fb9);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#42cbad, #277fb9);
  /* Standard syntax */
  background-repeat: no-repeat;
}

h1.intro {
  margin-top: 0;
  margin-bottom: 25px;
  text-align: center;
  font-weight: 200;
}

p {
  color: #42cbad;
  text-align: left;
  margin-top: 0;
  margin-bottom: 15px;
}

a {
  color: #42cbad;
  text-decoration: underline;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
a:hover {
  color: #2a977f;
  cursor: pointer;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
a.sign-up {
  text-align: center;
  font-size: 14px;
  padding-top: 25px;
  margin: 0 auto;
  display: block;
}

.container {
  max-width: 700px;
  min-width: 320px;
  margin: 0 auto;
  margin-top: 100px;
}

.row {
  width: 100%;
  float: left;
}

@media screen and (max-width: 767px) {
  margin-top: 50px;
}
.form-container {
  padding-top: 20px;
  padding-bottom: 0;
  margin: 0 auto;
  display: block;
  position: relative;
}
.form-container:first-child {
  padding-bottom: 15px;
}
.form-container label {
  display: block;
  color: #2a977f;
  font-size: 14px;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.form-container label.email, .form-container label.password {
  top: 12px;
  opacity: 0;
  z-index: -1;
  position: absolute;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.form-container input {
  width: 93%;
  height: 30px;
  border: 1px solid #42cbad;
  display: block;
  margin: 0 auto;
  outline: none;
  padding: 8px;
  font-size: 16px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.form-container input:focus {
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border: 1px solid #2a977f;
}
.form-container input:focus ~ label {
  top: -5px;
  z-index: 1;
  opacity: 1;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card-container {
  max-width: 100%;
  background-color: white;
  display: block;
  margin: 0 auto;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  max-width: 50%;
  padding: 40px;
}

@media screen and (max-width: 767px) {
  .card-container {
    max-width: 80%;
    padding: 40px 20px;
  }
}
.btn {
  width: 100%;
  line-height: 42px;
  font-size: 16px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #2d466d;
  margin-top: 25px;
  color: white;
  background-color: #2d466d;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
}
.btn:hover, .btn:focus {
  background-color: #172337;
  outline: none;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.btn.btn-ghost {
  background-color: white;
  color: #2d466d;
}
.btn.btn-ghost:hover, .btn.btn-ghost:focus {
  color: white;
  background-color: #172337;
}
